@import "../../../styles/main.scss";

.library {
    height: 150px;
    font-family: $Font1;
    font-weight: 600;
    width: 100%;
    position: fixed;
    background: linear-gradient(rgb(113, 227, 255),rgba(100,250,200,0.4));
    top: 160px;
    left: 0;
    width: 200px;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    background-color: $Color1;
    box-shadow: 2px 2px 50px rgb(230, 227, 227);

}
.library-song {
    padding: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid $Color1;
    cursor: pointer;
    &:hover {
        background: linear-gradient(rgb(21, 255, 138), rgba(177, 219, 62, 0.658)) ;
        border-radius: 2px;
        box-shadow: 1px 1px 20px 1px grey;
    }

}
.selected-song {
    background-color: rgb(248, 166, 73);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}