@import "../../../styles/main.scss";

.library {
    height: 150px;
    width: 100%;
    position: fixed;
    top: 160px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: $Color1;
    box-shadow: 2px 2px 50px rgb(230, 227, 227);
    overflow: scroll;

}
.library-song {
    padding: 5px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: rgb(160, 207, 229);
    }

}
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155, 0.5) transparent;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(155,155,155, 0.5) transparent;
    border-radius: 20px;
    border-color: transparent;
}