@import "../../../styles/main.scss";

.sheldue {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(#ece3db, #f7a469);
    border: 1px solid $Color3;
    box-shadow: 1px 1px 40px 2px grey;
}
.list-of-session {
        background: transparent;
        overflow: auto;
        height: 50px;
        list-style: none;
    }
.list-item {
        font-size: 10px;
        
        font-family: $Font1;
        padding: 3px;
        font-weight: 600;
        border-bottom: 1px solid $Color1;
        span {
          color: $Color2;
    }
}
.choosen-session {
    margin-top:5px;
    .list-of-session {
        background: transparent;
        overflow: scroll;
        list-style: none;
    }
.list-item {
        font-size: 10px;
        
        font-family: $Font1;
        padding: 3px;
        font-weight: 600;
        border-bottom: 1px solid $Color1;
        span {
          color: $Color2;
    }
}
}