@import "../../styles/main.scss";

.timer-container {
  height: 65vh;
  font-family: $Font2;
  width: 90%;
  margin: 0 auto;
  background-color: $Color1;
  border-radius: 10px;
  box-shadow: 1px 2px 7px 1px $Color1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .timer-setup-header {
    color: $Color3;
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
  }
  .submit-timer {
    padding: 5px 15px;
    min-width: 30px;
    font-size: 10px;
    align-self: center;
    font-family: $Font1;
    font-weight: 600;
    margin: 5px;
    background-color: $Color3;
    color: $Color1;
    border-radius: 10px;
    border: 1px solid $Color1;
    box-shadow: 4px 1px 10px 1px $Color2;
    outline: none;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 4px 1px 10px 1px $Color1;
      color: $Color2;
    }
  }
  .radio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 20px 0;
    label {
      padding: 3px;
    }
  }
}
