@import "../styles/main.scss";

.register {
  height: 90vh;
  font-family: $Font1;
  font-weight: 600;
  margin-top: 160px;
  color: $Color1;
  width: 100%;
  background-color: $Color3;
  display: flex;
  justify-content: center;
  align-items: center;
  .register-form {
    height: 80%;
    width: 80%;
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    .register-header {
      padding: 20px;
      font-size: 30px;
      font-weight: 400;
    }
    .register-container {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .register-label {
        text-align: left;
        color: $Color1;
        font-size: 14px;
        padding: 15px;
        .register-input {
          background-color: $Color3;
          color: $Color1;
          display: block;
          border-radius: 5px;
          outline: none;
          padding: 5px;
          border-bottom: 1px solid $Color1;
          &:focus,
          &:hover,
          &:active {
            background-color: black;
            border-bottom: 1px solid $Color2;
            outline: none;
          }
        }
      }
    }
  }
}
.submit-btn {
  padding: 15px 30px;
  color: $Color1;
  border: 1px solid $Color1;
  border-radius: 10px;
  margin-top: 60px;
  font-size: 15px;
  background-color: $Color3;
  &:focus,
  &:hover,
  &:active {
    color: $Color2;
    border-color: $Color2;
  }
}
